<script>
let getHi = () => {
    alert("Hello, world!")
}
</script>

<h1>Привет!</h1>
<p>Я страничка из сайта на языке 1С!</p>

<p>Сайт на 1Script устроен очень просто. У него есть 3 основные части:
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</p>
<button onClick = {getHi()}>Click me!</button>

