<h1>Модуль информации о приложении</h1>

<div>
    <p> Текущее приложение является тестовым вариантом </p>
    <p> Маршрутизация работает, все хорошо!</p>
    <a href="/"> Вернуться на главную страницу</a>
</div>